# Ignore all
*

# Unignore all with extensions
!*.*
!**/Dockerfile
!**/Makefile

# Unignore all dirs
!*/
!api

# ignore
.idea
**/.DS_Store
**/logs
modd.conf
makefile

# for test purpose
**/adhoc
app
go.work
go.work.sum

# gitlab ci
.cache

# vim auto backup file
*~
!OWNERS
